<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Joeva</title>
    <script defer src="../js/addToCart.js"></script>
  </head>
  <body>
    ${theBlkeCollection.map(item => `
    <div class="card">
      <img src="${item.dataValues.img}" alt="img" />
      <button data-category="theBlkeCollection" data-id="${item.dataValues.id}" data-name="${item.dataValues.name}" data-price="${item.dataValues.price}" class="add-to-cart">Add to Cart</button>
    </div>
    `).join("")}
  </body>
</html>
