<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Joeva</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
    <script defer src="https://kit.fontawesome.com/a7e0ce798b.js" crossorigin="anonymous"></script>
    <script defer src="../js/variables.js"></script>
    <script defer src="../js/app.js"></script>
    <script defer src="../js/create-user.js"></script>
  </head>
  <body>
    <div class="box">
      <div class="container">
        <nav class="navbar" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <a class="navbar-item" href="#">
              <img src="../assets/svg/joeva.svg" alt="Joeva" width="128" />
            </a>
          </div>
          <div id="navbar-menu-end" class="navbar-menu is-shadowless">
            <div class="navbar-end is-flex-direction-row">
              <a href="/basic_homepage" class="navbar-item link is-clickable">
                <span class="icon-text">
                  <span class="icon">
                    <i class="fas fa-home"></i>
                  </span>
                  <span>Home</span>
                </span>
              </a>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <!--  -->
    <div class="container">
      <div class="box">
        <div class="container">
          <div class="field">
            <label class="label">First</label>
            <div class="control has-icons-left has-icons-right">
              <input id="create-user-first-input" class="input" type="text" placeholder="First" />
              <span class="icon is-small is-left">
                <i class="fas fa-pen"></i>
              </span>
            </div>
            <!-- <p class="help is-danger">This email is invalid</p> -->
          </div>
          <div class="field">
            <label class="label">Last</label>
            <div class="control has-icons-left has-icons-right">
              <input id="create-user-last-input" class="input" type="text" placeholder="Last" />
              <span class="icon is-small is-left">
                <i class="fas fa-pen"></i>
              </span>
            </div>
            <!-- <p class="help is-danger">This email is invalid</p> -->
          </div>
          <div class="field">
            <label class="label">Username</label>
            <div class="control has-icons-left has-icons-right">
              <input id="create-user-username-input" class="input" type="text" placeholder="Username" />
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </div>
            <!-- <p class="help is-success">This username is available</p> -->
          </div>
          <div class="field">
            <label class="label">Email</label>
            <div class="control has-icons-left has-icons-right">
              <input id="create-user-email-input" class="input" type="email" placeholder="Email" />
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </div>
            <!-- <p class="help is-danger">This email is invalid</p> -->
          </div>
          <div class="field">
            <label class="label">Password</label>
            <div class="control has-icons-left has-icons-right">
              <input id="create-user-password-input" class="input" type="password" placeholder="Password" />
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </div>
            <!-- <p class="help is-danger">This email is invalid</p> -->
          </div>
          <div class="field">
            <div class="control">
              <label class="checkbox">
                <input type="checkbox" />
                I agree to the <a href="#">terms and conditions</a>
              </label>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <button id="create-user-submit-button" class="button is-fullwidth is-link">
                <strong>Submit</strong>
              </button>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <a href="http://127.0.0.1:3005/basic_homepage" class="is-link">
                <button class="button is-fullwidth is-link is-light">Back</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  -->
  </body>
</html>
